mysql:
  enabled: false

postgresql:
  enabled: true
  auth:
    database: mattermost
    username: mmuser
    password: password123

# שים לב - ביטלנו את ה-externalDB כדי שה-Chart יקים אחד בעצמו
externalDB:
  enabled: false

ingress:
  enabled: true
  ingressClassName: nginx
  hosts:
    - host: mattermost.local
      paths:
        - path: /
