apiVersion: apps/v1
kind: Deployment
metadata:
  name: mattermost-team-edition
  namespace: mattermost
spec:
  replicas: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: mattermost-team-edition
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mattermost-team-edition
    spec:
      containers:
      - name: mattermost
        image: mattermost/mattermost-team-edition:latest
        ports:
        - containerPort: 8065
        env:
        - name: MM_SQLSETTINGS_DATASOURCE
          value: "postgres://mmuser:password123@postgres-db.mattermost.svc.cluster.local:5432/postgres?sslmode=disable&connect_timeout=10"
        - name: MM_SQLSETTINGS_DRIVERNAME
          value: "postgres"
