apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mattermost-production
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://helm.mattermost.com'
    chart: mattermost-team-edition
    targetRevision: 6.6.1 # גרסה יציבה וספציפית
    helm:
      values: |
        config:
          SqlSettings:
            DriverName: "postgres"
            DataSource: "postgres://mmuser:mmuser_password@mattermost-db-postgresql.mattermost:5432/mattermost?sslmode=disable"
        mysql:
          enabled: false
        postgresql:
          enabled: false
        initContainers:
          waitForDb:
            enabled: false
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: mattermost
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
