apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mattermost-production
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://helm.mattermost.com'
    chart: mattermost-team-edition
    targetRevision: '>=0.0.0'
    helm:
      values: |
        mysql:
          enabled: false
        postgresql:
          enabled: true
          postgresqlUsername: mmuser
          postgresqlPassword: mmuser_password
          postgresqlDatabase: mattermost
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: mattermost
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
