apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mattermost-production
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/alon7544/mattermost-gitops
    targetRevision: main
    path: k8s
    helm:
      values: |
        image:
          repository: mattermost/mattermost-team-edition
          tag: 9.1.1
        mysql:
          enabled: false
        externalDB:
          enabled: true
          type: postgres
        extraEnvVars:
          - name: MM_SQLSETTINGS_DRIVERNAME
            value: postgres
          - name: MM_SQLSETTINGS_DATASOURCE
            value: "postgres://mmuser:mmuser_password@postgres-db-svc:5432/mattermost?sslmode=disable"
  destination:
    server: https://kubernetes.default.svc
    namespace: mattermost
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
