apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mattermost-production
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://helm.mattermost.com' # המקור של ה-Chart
    chart: mattermost-team-edition
    targetRevision: 6.6.1
    helm:
      valueFiles:
        - https://raw.githubusercontent.com/alon7544/mattermost-gitops/main/mattermost-values.yaml
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: mattermost
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
