apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-db
  namespace: mattermost
spec:
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:11
        env:
        - name: POSTGRES_USER
          value: mmuser
        - name: POSTGRES_PASSWORD
          value: password123
        - name: POSTGRES_DB
          value: mattermost
        ports:
        - containerPort: 5432
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-db-svc
  namespace: mattermost
spec:
  selector:
    app: postgres
  ports:
  - port: 5432
    targetPort: 5432
