apiVersion: v1
kind: Service
metadata:
  name: mattermost-db-postgresql
  namespace: mattermost
spec:
  ports:
  - port: 5432
    targetPort: 5432
  selector:
    app: postgres
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mattermost-db
  namespace: mattermost
spec:
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: bitnami/postgresql:15
        env:
        - name: POSTGRESQL_USERNAME
          value: "mmuser"
        - name: POSTGRESQL_PASSWORD
          value: "mmuser_password"
        - name: POSTGRESQL_DATABASE
          value: "mattermost"
        ports:
        - containerPort: 5432
